pkgbase = zish
	pkgdesc = fast shell interpreter written in zig
	pkgver = 0.7.0
	pkgrel = 1
	url = https://github.com/hitchhooker/zish
	arch = x86_64
	license = MIT
	makedepends = zig>=0.15.1
	depends = glibc
	source = zish-0.7.0.tar.gz::https://github.com/hitchhooker/zish/archive/v0.7.0.tar.gz
	sha256sums = 9edb1193e81a95889d3a7aedb17d42255a207e7c74f3e1192f7d9b0da1b16ae3

pkgname = zish
