name: release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        include:
          - target: x86_64-linux
            os: ubuntu-latest
          - target: aarch64-linux
            os: ubuntu-latest
          - target: x86_64-macos
            os: ubuntu-latest
          - target: aarch64-macos
            os: ubuntu-latest

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: setup zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.15.2

      - name: build ${{ matrix.target }}
        run: zig build --release=fast -Dtarget=${{ matrix.target }} -Dlto=false

      - name: rename binary
        run: mv zig-out/bin/zish zig-out/bin/zish-${{ matrix.target }}

      - name: release
        uses: softprops/action-gh-release@v2
        with:
          files: zig-out/bin/zish-${{ matrix.target }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
